*{
  margin: 0;
  padding: 0;
}
.advertisement {
    height: 100%;
    display: flex;
    flex-direction: column;
    }
  .advertisement h2{
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
  }
 #ad1{
  width: 100%;
  height: 480px;
 }
 #ad2{
  width: 100%;
  height: 480px;
 }
 #ad3{
  width: 100%;
  height: 505px;
 }

 @media (max-width: 1000px){
  .advertisement{
    display: none;
  }
 }
  
 