*{
    margin: 0;
    padding: 0;
}
.footer-container{
    width: 100%;
    height: fit-content;
    background: rgba(38, 38, 38, 0.7);
    border-radius: 0px;
    display: flex;
    justify-content: space-around;
}
.footerPart-1{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 4px;
}
.footerPart-1 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 42.2px;
    color: #B1D191;
    font-style: normal;
    text-decoration-line: underline;
    text-decoration-color: #B1D191;
}
.footerPart-1 div p{
    font-size: 1rem;
    font-weight: 400;
    gap:4px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.icons-f{
    width: 145px;
    display: flex;
    justify-content: space-around;
}
.footerPart-2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}
.footerPart-2 h2{
    color: #B1D191;
}
.footerPart-2 a{
    text-decoration-line: none;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
}
.footerPart-3{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px; 
}
.footerPart-3 h2{
    color: #B1D191;
}
.footerPart-3 a{
    text-decoration-line: none;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
}
.footerPart-4{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;    
}
.footerPart-4 h2{
    color: #B1D191;  
}
.footerPart-4 input{
    width: 200px;
    height: 25px;
    border:1px solid #FFFFFF;
    border-radius: 8px;
    outline: none;
}
.footerPart-4 button{
    width: 150px;
    height: 25px;
    border-radius: 4px;
    background-color: #B1D191;
    border: none;
    margin-left: 12%;
}

@media (max-width: 1000px){
    .footer-container{
        font-size: 0.8rem;
    }
}

@media (max-width: 760px){
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 10%;
    }
}