* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100%;
}
.navbar {
  width: 100%;
  height: 30px;
  background-color: #b1d191;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}
.navbar a{
    text-decoration-line: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
}
.heading {
  width: 100%;
  height: 450px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 5px;
  padding: 35px;
  display: flex;
  background-color: aliceblue;
}
.header h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
}
.iconheader {
  margin-top: 5px;
  margin-left: 5px;
}
.image-container {
  width: 100%;
  height: 400px;
  position: relative;
  background-image: url("../../images/covid.png");
  background-size: cover;
  background-position: center center;
}
.img-block {
  width: 70%;
  height: 140px;
  background-color: #262626cc;
  margin: 0px auto;
  z-index: 1;
  position: absolute;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: -4rem;
  transform: translateX(25%);
  bottom: 0;
}
.img-block h2 {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  padding-bottom: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  width: fit-content;
  border-bottom: 1px solid #74f03a;
  color: rgba(255, 255, 255, 0.7);
}
.img-block ul {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.img-block ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

/*End Of Header*/

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}
.title h1 {
  font-size: 72px;
  color: dimgray;
  font-family: Arial, Helvetica, sans-serif;
}
.title p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

/*End of Project Title*/

.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
.icons {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
.active-tabs {
  width: 300px;
  display: flex;
  justify-content: space-around;
}
.active-tabs p {
  text-transform: capitalize;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.active-tabs p a:focus {
  color: rgba(116, 240, 58, 0.6);
}

.search-icon {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.search-icon input {
  border: transparent;
  outline: none;
}
#P-diseases {
  margin-top: 10px;
  margin-left: 20px;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  line-height: 55px;
  font-weight: 500;
  font-size: 40px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}
/*End Of Heading Stuffx*/

.content-container {
  width: 80%;
  height: 40%;
  margin-top: 25px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-container h2 {
  left: 286px;
  height: 32px;
  width: 455px;
  color: #000;
  line-height: 31.65px;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.content-description {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.content-description div img {
  width: 300px;
  height: 250px;
  object-fit: contain;
}

.para1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30%;
  height: 250px;
  padding: 20px 0;
}

.para1 p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 25px;
  text-justify: inter-cluster;
}
.para1 button {
  width: 220px;
  height: 40px;
  border-radius: 32px;
  background: #b1d191;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.35;
  border: none;
}
hr{
  margin-top: 5px;
  border:1.5px solid rgba(116, 240, 58, 0.5);
  border-bottom: none;
}
.content-container2{
  width: 80%;
  height: 40%;
  margin-top: 25px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.content-container2 h2{
  left: 236px;
  height: 32px;
  width: 80%;
  color: #000;
  line-height: 31.65px;
  text-align: center;
  margin:0 auto;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
 
}
.conte2{
  margin-top: 30px;
}
.content-container3{
  width: 80%;
  height: 40%;
  margin-top: 25px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.content-container3 h2{
  left: 236px;
  height: 32px;
  width: 80%;
  color: #000;
  line-height: 31.65px;
  text-align: center;
  margin:0 auto;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.conte3{
  margin-top: 30px;
}
.arrows{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 33%;
}
/*End Of Content Description*/

.nav2{
  margin-top: 30px;
}

.footer-image{
  width: 100%;
  height: 162px;
  background-image: url("../../images/footer.png");
  background-size: cover;
  background-position: center center;
}
